<br><br><br><br><br><br>
    <div class="container">
        <table class="table table-bordered">
            <tr id="e">
                
                <th>SubCategoryDetails</th>
               
                <th>SubcategoryName</th>
                <th>Gst</th>
                <th>Delete</th>
            </tr>
            <tr id="r" *ngFor="let item of subcategory">
            
              <td>{{item.subname}}</td>
              
               <td>{{item.sdetails}}</td>
               <td>{{item.gst}}</td>
               <td><button type="button"  class="btn btn-danger" (click)="deletecategory(item.subid)">Delete SubCategory</button>               
            </td>
              
            </tr>
        </table>
    </div>
    